{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1 class="display-4 text-danger text-center">Excluir Empréstimo</h1>
    <hr class="border-danger border-2">

    <div class="alert alert-warning text-center">
        <p>Tem certeza de que deseja excluir o empréstimo do livro <strong>{{ emprestimo.livro_titulo }}</strong> para o cliente <strong>{{ emprestimo.cliente_nome }}</strong>?</p>
        <form action="/emprestimos/deletar/{{ emprestimo.id }}" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-lg shadow-sm">Sim, excluir</button>
            <a href="/emprestimos" class="btn btn-outline-secondary btn-lg shadow-sm">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
